fastapi
uvicorn[standard]
sqlalchemy
psycopg2
alembic
pydantic[email]
libgravatar
python-jose[cryptography]
passlib[bcrypt]
python-multipart
fastapi-mail
redis
fastapi-limiter
cloudinary
pydantic-settings